<section class="deploy-to-tweet">
    <p id="notice"><%= notice %></p>

    <h1>I've deployed using <span class="twitter">twitter</span> <%= image_tag 'tweeter.jpg', class: 'tweet-image' %></h1>
    <div class="how-to">Mention <a href="https://twitter.com/snap_ci">@snap_ci</a> with <a href="https://twitter.com/hashtag/deploy?src=hash">#deploy</a> and see the magic happening!</div>
    <h5><a href="https://smoke.snap-ci.com/snap-ci-examples/snap_leaderboard/branch/publish"><img src="https://smoke.snap-ci.com/snap-ci-examples/snap_leaderboard/branch/publish/build_image" alt="Build Status"></a></h5>

    <div class="cool-tweets">
        <table>
          <thead>
            <tr>
              <th>From</th>
              <th>Tweet</th>
            </tr>
          </thead>

          <tbody>
            <% @feeds.each do |feed| %>
              <tr>
                <td><a href="https://twitter.com/<%= feed.name %>">@<%= feed.name %></a></td>
                <td><%= raw feed.message
                                    .gsub(/@(?<arroba>\w+)/, '<a href="https://twitter.com/\k<arroba>">@\k<arroba></a>')
                                    .gsub(/#(?<hashtag>\w+)/, '<a href="https://twitter.com/hashtag/\k<hashtag>?src=hash">#\k<hashtag></a>') %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>

  <div class="create-your-own">
    <span><a href="https://ifttt.com/recipes/319608-deploy-to-snap-ci-com-from-twitter" target="_blank"> Wanna create your own Twitter -> Snap trigger?</a></span>
  </div>
</section>
